.header_container {
  height: 70px;
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  color: var(--text-black-color);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.header_container .children_h1 {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;

  width: var(--with-main);
  margin: 0 auto;
}
.header_container .logo {
  font-size: 40px;
}
.header_container li {
  list-style-type: none;
  font-size: 20px;
  padding: 10px;

  cursor: pointer;
}
.header_container li.active {
  background-color: var(--primary-color);
  color: white;
}
.header_container li:hover {
  background-color: var(--primary-color);
  animation: identifier 1s linear;
  color: white;
}
@keyframes identifier {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.header_container ul {
  display: flex;
  justify-content: flex-end;
}
.header_container .list_left {
  width: 700px;
}
